
<table class="table">

  <tbody>
    <tr>
      <td>Страна производства</td>
      <td>{{ product.country_product }}</td>
    </tr>
      <tr>
      <td>Вкус</td>
      <td>{{ product.taste }}</td>
    </tr>
      <tr>
      <td>Сорт</td>
      <td>{{ product.sort }}</td>
    </tr>
      <tr>
      <td>Упаковка</td>
      <td>{{ product.upakovka }}</td>
    </tr>
      <tr>
      <td>Вес</td>
      <td>{{ product.weight }}</td>
    </tr>
      <tr>
      <td>Калории</td>
      <td>{{ product.Kalorii }}</td>
    </tr>
  </tbody>
</table>